*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

p{
  margin: 0;
}
h1{
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #E5E5E5;
}














#footer{
  background-color: black;
  background: rgb(30, 30, 30);
  color: white;
  text-align: center;
  padding: 30px;

  
}



.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container .box{
  width: 30%;
  min-width: 200px;
  min-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative
  ;
  background-color: #fff;
  padding: 40px 40px 40px;
  text-align: center;
  overflow: hidden;
  
}

.section__comoFunciona{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.section__comoFuncionaTitle{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.section__comoFuncionaTitle h1{
 margin: 0;
}

.section__comoFuncionaTitle  p mark{
 background-color: transparent;
 color: red;
 }
.section__comoFunciona_content{
  display: flex;
  flex-direction: row;
}
.section__comoFunciona_content div{
 /*width: 300px;*/
}

